<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="../../../resources/js/jquery-2.2.3.min.js"></script>
</head>
<body onload="defaultDate()">
    <div th:replace="fragments/header :: header">&nbsp;</div>

    <table class="table">
        <tr>
            <th>Amount</th>
            <th>Requested Date</th>
            <th>Expire Date</th>
            <th>Ip Address</th>
            <th>Status</th>
            <th>Note</th>
        </tr>

        <tr th:each="loan : ${loans}">
            <td th:text="${loan.amount}"></td>
            <td th:text="${loan.requestedDate}"></td>
            <td th:text="${loan.expireDate}"></td>
            <td th:text="${loan.ipAddress}"></td>
            <td th:text="${loan.status}"></td>
            <td th:text="${loan.note}"></td>
        </tr>
    </table>
</body>
</html>